[Unit]
Description=Learn Ukrainian jevgrep update timer (every 6 hours)

[Timer]
OnCalendar=*-*-* 00/6:00:00
Persistent=true
RandomizedDelaySec=20min
Unit=learn-ukrainian-jevgrep-update.service

[Install]
WantedBy=timers.target
